* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: rgb(107, 156, 138);
    color: rgb(239, 243, 245);
    text-align: center;
    height: 100vh;
}
.box1{
    padding-top: 150px;
    height: 95vh;
}
.box1 >h5{
    padding-top: 25px;
    padding-bottom: 10px;
}
.subbox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.percent{
    display: flex;
    width: 400px;
    height: 10px;
    background-color: rgb(247, 247, 250);
    box-shadow: 7px 7px 11px 0px rgba(0,0,0,0.73);
    
}
.tab{
    width: 70%;
    background-color: rgb(77, 188, 233);
}
.number{
    display: flex;
    width: 400px;
    height: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.box2{
    margin-top: auto;
}
.input > input{
    width: 100px;
    padding: 10px;
    background-color: aqua;
    border: 0px ;
}